*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* letra para la pagina*/
    font-family: 'Baloo Bhai 2', cursive;
}
/*********************
*****Formateo li.item a.menu-link *****
***********************/
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*********************
*****Header*****
***********************/
.cabecera{ /*header*/
    display: flex;
    flex-direction: column;
    background: rgba(245, 220, 107, 0.212);
}
.contenedor-menu{/*nav*/
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 420px) {
    .contenedor-menu{/*nav*/
        flex-direction: row;
        justify-content: space-between;
    }
}

